<%- include('../partials/head') %> <br>
    <div class="container">
        <h1> Edit <%= currentItem.foodname %></h1>
        <form action="/users/<%= user._id %>/foods/<%= currentItem._id %>?_method=PUT" method="POST">
            <label for="foodname">Food Name:</label>
            <input type="text" name="foodname" id="foodname" value="<%= currentItem.foodname %>">
            
            <label for="ingredient">Ingredient:</label>
            <input type="text" name="ingredient" id="ingredient" value="<%= currentItem.ingredient %>">

            <label for="recipe">Recipe:</label>
            <input type="recipe" name="recipe" id="recipe" value="<%= currentItem.recipe%>">

            <label for="instruction">Instruction:</label>
            <textarea name="instruction" id="instruction" value="<%= currentItem.instruction%>"></textarea>

            <!-- value is the same in the model -->
             <button type="submit" class="btn btn-primary">Update CookBook</button>
          </form>
    </div>
<%- include('../partials/footer') %>