<%- include('../partials/head') %> <br>

  <div class="container">

    <h1>All Your CookBooks</h1> <br>
    <div class="card-container">
      <% pantry.forEach(pan => { %> <br> 
                  <div class="card" style="width: 18rem">
                      <div class="card-body">
                          <h5 class="card-title"><%= pan.foodname %></h5>
                          <h6 class="card-subtitle mb-2 text-muted">
                            Ingredient: <%= pan.ingredient %>
                          </h6>
                          <a href="/users/<%= user._id %>/foods/<%= pan._id%>" class="card-link">Show more</a>
                      </div>
                  </div>
      <% }) %>
    </div>
  
  </div>
  <%- include('../partials/footer') %>